<style>
    .cmp-custommedia {
        display: flex;
    }

    .cmp-custommedia__list {
        display: flex;
        float: right;

    }

    .cmp-custommedia__icon {
        border-radius: 10px;
        padding: 10px;
        width: 30px;
    }

    .cmp-custommedia__icon:hover {
        border-radius: 100%;
        transition: all .5s ease;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    .cmp-custommedia__li {
        list-style-type: none;
    }
</style>
<div class="cmp-custommedia">

    <ul class="cmp-custommedia__list">
        <li class="cmp-custommedia__li">
            <a href="https://imgbb.com/"><img class="cmp-custommedia__icon" src="https://i.ibb.co/nc6SCHg/facebook.png"
                    alt="facebook"></a>
        </li>
        <li class="cmp-custommedia__li">

            <a href="https://imgbb.com/"><img class="cmp-custommedia__icon" src="https://i.ibb.co/88K9WF6/linkedin.png"
                    alt="linkedin"></a>
        </li>
        <li class="cmp-custommedia__li">
            <a href="https://imgbb.com/"><img class="cmp-custommedia__icon" src="https://i.ibb.co/X8vmKcX/instagram.png"
                    alt="instagram"></a>
        </li>
        <!-- <li class="cmp-custommedia__li">
            <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <title>Facebook icon</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Facebook">
                        <rect id="Rectangle-7" fill="#3D5E96" x="0" y="0" width="32" height="32" rx="2.13333333"></rect>
                        <path
                            d="M17.4871795,24.5333333 L17.4871795,16.7487179 L20.0923077,16.7487179 L20.4923077,13.7128205 L17.4871795,13.7128205 L17.4871795,11.774359 C17.4871795,10.9025641 17.7230769,10.2974359 18.9846154,10.2974359 L20.5948718,10.2974359 L20.5948718,7.58974359 C20.3179487,7.54871795 19.3641026,7.46666667 18.2564103,7.46666667 C15.9384615,7.46666667 14.3487179,8.88205128 14.3487179,11.4769231 L14.3487179,13.7128205 L11.7333333,13.7128205 L11.7333333,16.7487179 L14.3487179,16.7487179 L14.3487179,24.5333333 L17.4871795,24.5333333 Z"
                            id="" fill="#FFFFFF" fill-rule="nonzero"></path>
                    </g>
                </g>
            </svg>
        </li> -->
    </ul>

</div>