//  Background Colours

.bg-gray {
  // margin: 0.5rem;
  background-color: #ececec;
  color:black;

}
.bg-white {
  // margin: 0.5rem;
  background-color: #ffffff;
  color:black;
}
.bg-dark {
  // margin: 0.5rem;
  background-color: #2b0a3d;
  color: #ffffff;
}
// Box Shadows
.shadow-light {
  &:hover {
    box-shadow: 0.6rem 1.2rem #999;
    transition: all 0.5s ease;
    .cmp-teaser__title-link {
      color: #0070ad;
      text-decoration: underline;
    }
  }
}
.shadow-dark {
  &:hover {
    box-shadow: 0.6rem 1.2rem #54217b;
    transition: all 0.5s ease;
    .cmp-teaser__title-link {
      color: #0070ad;
      text-decoration: underline;
    }
  }
}

.cmp-container {
  padding-right: 2rem;
  padding-bottom: 2rem;
  // width: fit-content;
}

.cmp-image--padded{
  display: block;
  .cmp-image{
    padding:.5rem;
  }
}